USE [master]
GO
/****** Object:  Database [giuaky_qldupm]    Script Date: 26/10/2025 11:14:07 CH ******/
CREATE DATABASE [giuaky_qldupm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'giuaky_qldupm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\giuaky_qldupm.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'giuaky_qldupm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\giuaky_qldupm_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [giuaky_qldupm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [giuaky_qldupm]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[total_price] [decimal](18, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[payment_method] [nvarchar](20) NOT NULL,
	[shipping_address] [nvarchar](500) NOT NULL,
	[recipient_name] [nvarchar](100) NOT NULL,
	[recipient_phone] [nvarchar](20) NOT NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- thống kê tổng quan đơn hàng
CREATE VIEW [dbo].[vw_OrderSummary] AS
select
	count(*) totalOrders,
	SUM(case when status = 'PENDING' THEN 1 ELSE 0 END) as pendingOrders,
	SUM(CASE WHEN status = 'SHIPPING' THEN 1 ELSE 0 END) AS shippingOrders,
	SUM(CASE WHEN status = 'COMPLTETED' THEN 1 ELSE 0 END) as completedOrders,
	SUM(CASE WHEN status = 'CANCELLED' THEN 1 ELSE 0 END) as cancelledOrders,
	SUM(CASE WHEN status IN ('COMPLETED' , 'SHIPPING') THEN total_price ELSE 0 END) as totalRevenue
from orders;
GO
/****** Object:  Table [dbo].[Order_Items]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopSellingProducts]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- view top sản phẩm bán chạy
CREATE VIEW [dbo].[vw_TopSellingProducts] as
SELECT
	oi.product_id as productId,
	oi.product_name as productName,
	SUM(oi.quantity) as totalQuantitySold,
	SUM(oi.subtotal) as totalRevenue
FROM Order_Items oi
INNER JOIN orders o ON oi.order_id = o.id
WHERE o.status IN ('COMPLETED', 'SHIPPING')
GROUP BY oi.product_id, oi.product_name
GO
/****** Object:  View [dbo].[vw_DailyRevenue]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- view doanh thu theo ngày
CREATE VIEW [dbo].[vw_DailyRevenue] as
SELECT
	CONVERT(VARCHAR(10), o.created_at, 103) as orderDate,
	SUM(o.total_price) as dailyRevenue,
	COUNT(o.id) as orderCount
FROM orders o
WHERE o.status IN ('COMPLETED', 'SHIPPING')
GROUP BY CONVERT(VARCHAR(10), o.created_at, 103);
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](20) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_r43af9ap4edm43mmtq01oddj6] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_order_summary]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_order_summary] AS
SELECT 
    o.id AS order_id,
    o.created_at,
    u.username,
    u.email,
    o.total_price,
    o.status,
    o.shipping_address,
    o.recipient_name,
    o.recipient_phone,
    COUNT(oi.id) AS total_items
FROM Orders o
JOIN Users u ON o.user_id = u.id
LEFT JOIN Order_Items oi ON o.id = oi.order_id
GROUP BY o.id, o.created_at, u.username, u.email, o.total_price, o.status, 
         o.shipping_address, o.recipient_name, o.recipient_phone;
GO
/****** Object:  Table [dbo].[Products]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](18, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[category_id] [bigint] NOT NULL,
	[image_url] [nvarchar](500) NULL,
	[status] [nvarchar](20) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_top_selling_products]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Sản phẩm bán chạy
CREATE VIEW [dbo].[vw_top_selling_products] AS
SELECT 
    p.id,
    p.name,
    p.price,
    SUM(oi.quantity) AS total_sold,
    SUM(oi.subtotal) AS total_revenue
FROM Products p
JOIN Order_Items oi ON p.id = oi.product_id
JOIN Orders o ON oi.order_id = o.id
WHERE o.status IN ('COMPLETED', 'SHIPPING')
GROUP BY p.id, p.name, p.price;
GO
/****** Object:  View [dbo].[vw_user_statistics]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Thống kê người dùng
CREATE VIEW [dbo].[vw_user_statistics] AS
SELECT 
    u.id,
    u.username,
    u.email,
    u.role,
    COUNT(o.id) AS total_orders,
    COALESCE(SUM(o.total_price), 0) AS total_spent
FROM Users u
LEFT JOIN Orders o ON u.id = o.user_id
GROUP BY u.id, u.username, u.email, u.role;
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_t8o6pivur7nn124jehx7cygw5] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Refresh_Tokens]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Refresh_Tokens](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[token] [nvarchar](500) NOT NULL,
	[expiry_date] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ghpmfn23vmxfu3spu3lfg4r2d] UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Order_Items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('COD') FOR [payment_method]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Refresh_Tokens] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD  CONSTRAINT [FKocimc7dtr037rh4ls4l95nlfi] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Order_Items] CHECK CONSTRAINT [FKocimc7dtr037rh4ls4l95nlfi]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
ALTER TABLE [dbo].[Refresh_Tokens]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Refresh_Tokens]  WITH CHECK ADD  CONSTRAINT [FK1lih5y2npsf8u5o3vhdb9y0os] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Refresh_Tokens] CHECK CONSTRAINT [FK1lih5y2npsf8u5o3vhdb9y0os]
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Order_Items]  WITH CHECK ADD CHECK  (([subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([status]='CANCELLED' OR [status]='COMPLETED' OR [status]='SHIPPING' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([total_price]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([status]='OUT_OF_STOCK' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='ADMIN' OR [role]='CUSTOMER'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([status]='BANNED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
/****** Object:  StoredProcedure [dbo].[sp_get_monthly_revenue]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ===================================================
-- STORED PROCEDURES
-- ===================================================

-- SP: Lấy doanh thu theo tháng
CREATE PROCEDURE [dbo].[sp_get_monthly_revenue]
    @year INT,
    @month INT
AS
BEGIN
    SELECT 
        DAY(created_at) AS day,
        SUM(total_price) AS revenue,
        COUNT(id) AS order_count
    FROM Orders
    WHERE YEAR(created_at) = @year 
      AND MONTH(created_at) = @month
      AND status IN ('COMPLETED', 'SHIPPING')
    GROUP BY DAY(created_at)
    ORDER BY day;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDashboardStatistics]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- STORED PROCEDURE: Lấy thống kê dashboard
-- ==============================================
CREATE PROCEDURE [dbo].[sp_GetDashboardStatistics]
AS
BEGIN
    SET NOCOUNT ON;
    
    -- ==========================================
    -- RESULT SET 1: Thống kê tổng quan
    -- ==========================================
    SELECT 
        os.totalOrders,
        os.pendingOrders,
        os.shippingOrders,
        os.completedOrders,
        os.cancelledOrders,
        ISNULL(os.totalRevenue, 0) as totalRevenue,
        (SELECT COUNT(*) FROM users WHERE role = 'CUSTOMER') as totalCustomers,
        (SELECT COUNT(*) FROM products) as totalProducts
    FROM vw_OrderSummary os;
    
    -- ==========================================
    -- RESULT SET 2: Top 10 sản phẩm bán chạy
    -- ==========================================
    SELECT TOP 10 
        productId,
        productName,
        totalQuantitySold,
        totalRevenue
    FROM vw_TopSellingProducts
    ORDER BY totalQuantitySold DESC;
    
    -- ==========================================
    -- RESULT SET 3: Doanh thu 30 ngày gần nhất
    -- ==========================================
    SELECT TOP 30
        orderDate,
        dailyRevenue,
        orderCount
    FROM vw_DailyRevenue
    ORDER BY TRY_CONVERT(DATE, orderDate, 103) DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_update_product_stock]    Script Date: 26/10/2025 11:14:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP: Cập nhật stock khi đặt hàng
CREATE PROCEDURE [dbo].[sp_update_product_stock]
    @product_id BIGINT,
    @quantity INT
AS
BEGIN
    UPDATE Products
    SET stock = stock - @quantity,
        status = CASE 
            WHEN (stock - @quantity) <= 0 THEN 'OUT_OF_STOCK'
            ELSE status
        END
    WHERE id = @product_id;
END;
GO
USE [master]
GO
